.about_body {
  background-color: white;
  border-radius: 20px;
  margin: 20px 0px;
  padding: 30px 30px;
}
/* Заголовок h1 */
.about_body h1 {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.about_body h2 {
  font-size: 2em;
  color: black;
  margin-top: 30px;
}

.about_body p {
  font-size: 2em;
  color: black;
  line-height: 1.5;
}

.about_body img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.about_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.text_about {
  width: 50%;
}
.date {
  display: flex;
  /* font-size: 2em; */
  justify-content: center;
}
.date p {
  border-radius: 12px;
  padding: 5px 15px;
  font-weight: bold;
  border: 1px solid black;
}

@media (max-width: 1224px) {
  .about_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .text_about {
    width: 100%;
  }
  .about_body h1 {
    font-size: 1em;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .about_body h2 {
    font-size: 1em;
    color: black;
    margin-top: 30px;
  }

  .about_body p {
    font-size: 1em;
    color: black;
    line-height: 1.5;
  }
  .date p {
    border-radius: 12px;
    padding: 5px 15px;
    font-weight: bold;
    border: 1px solid black;
    margin-bottom: 20px;
  }
}
