.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Убедитесь, что z-index выше, чем у вашего модального окна */
}

.modal {
  max-width: 600px;
  margin: 0 auto;
  color: black;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: 40%;
  top: 40%;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}
label {
  margin-bottom: 10px;
}
.auth_user { 
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}